<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns="http://www.w3.org/1999/xhtml"-->
      <!--xmlns:th="http://www.thymeleaf.org"-->
      <!--xmlns:sec="http://www.thymeleaf.org/extras/spring-security">-->
<!--<head>-->
    <!--<th:block th:replace="~{fragments/head}"></th:block>-->
<!--</head>-->
<!--<body>-->
<!--<div class="container-fluid">-->
    <!--<th:block th:replace="~{fragments/navbar}"></th:block>-->
    <!--<div class="row">-->
        <!--<div class="col-md-12">-->
            <!--<div class="error-template">-->
                <!--<h1>-->
                    <!--Oops!</h1>-->
                <!--<h2>Major Error</h2>-->
                <!--<div class="error-details">-->
                    <!--Sorry, an error has occured. Code monkeys are dispatched to fix the problem.-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--<th:block th:replace="~{fragments/footer}"></th:block>-->
<!--</body>-->
<!--</html>-->