<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="~{fragments/head}"></th:block>
</head>
<body>
<div class="container-fluid">
    <th:block th:replace="~{fragments/navbar}"></th:block>

   <div class="tab-container">
       <img class="col-md-6 offset-md-3 my-md-3" th:src="@{/images/acclogo.png}"/>
   </div>
</div>
<th:block th:replace="~{fragments/footer}"></th:block>

</body>
</html>