<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="~{fragments/head}"></th:block>
</head>
<body>
<div class="container-fluid">
    <th:block th:replace="~{fragments/navbar}"></th:block>
    <div class="container mt-5 col-lg-8">
        <h2 class="text-center">Login</h2>
        <div th:if="${param.error}" class="col-md-5 offset-md-3 mt-4 alert alert-warning alert-dismissible fade show" role="alert">
            Invalid username or password. Please try again.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form class="justify-content-md-center offset-md-3" th:method="POST" th:action="@{/users/login}">
            <div class="form-group row mt-4">
                <label for="email" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="email" name="email"/>
                </div>
            </div>
            <div class="form-group row">
                <label for="password" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-4">
                    <input type="password" class="form-control" id="password" name="password"/>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <button type="submit" class="btn btn-outline-primary float-sm-right">Login</button>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <h5 class="float-sm-right">or</h5>
                </div>

            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <button  type="button" class="btn btn-outline-secondary float-sm-right"><a style="text-decoration:none;" th:href="@{/users/register}"><span class="color: text-white">you don't have an Account? Please ,</span> Register!</a></button>
                </div>
            </div>
        </form>
    </div>
</div>
<th:block th:replace="~{fragments/footer}"></th:block>
</body>
</html>