<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="~{fragments/head}"></th:block>
</head>
<body>
<div class="container-fluid">
    <th:block th:replace="~{fragments/navbar}"></th:block>
    <div class="container mt-5">
        <h1 class="mt-2 text-md-center">Welcome , <span th:text="${username}"></span>!</h1>

        <div class="row" th:action="@{/users/profile/{email}(email=*{email})}"
             th:method="GET">
            <div class="col-lg-8" th:each="entry: ${conversation.entrySet()}" th:object="${entry.getKey()}">
                <hr/>
                <h3 class="mt-4" th:text="*{senderSubject}"></h3><span  th:text="*{{requestSentOn}}"></span>
                <hr/>
                <p class="mt-2" th:text="*{senderMessage}"></p>
                <hr/>
                <h4 th:if="!*{replies.isEmpty()}" th:text="|T&M Response(s)|"></h4>
                <div class="media my-4" th:each="reply : *{replies}">
                    <hr>
                    <div class="media-body">
                        <div class="text-md-right mb-3" th:text="|sent on ${{reply.getReplySentOn()}}|"></div>
                        <div th:text="${reply.getReplyMessage()}"></div>
                        <div class="mt-5 text-md-right" th:if="${reply.getPrice() != null}" th:text="|Price : ${reply.getPrice()} $|"></div>
                        <hr/>
                    </div>
                </div>
                <div class="text-md-right mb-5" th:if="*{replies.isEmpty()}" th:text="|your request will be answered in the initial 24 hours of your request|"></div>
            </div>
            <!-- Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Search Widget -->
                <div class="card my-4 offset-7">
                    <h5 class="card-header">Search</h5>
                    <div class="card-body">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Go!</button>
                </span>
                        </div>
                    </div>
                </div>

                <!-- Categories Widget -->
                <div class="card my-4 offset-7">
                    <h5 class="card-header">Categories</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <a href="#">Web Design</a>
                                    </li>
                                    <li>
                                        <a href="#">HTML</a>
                                    </li>
                                    <li>
                                        <a href="#">Freebies</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <a href="#">JavaScript</a>
                                    </li>
                                    <li>
                                        <a href="#">CSS</a>
                                    </li>
                                    <li>
                                        <a href="#">Tutorials</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Side Widget -->
                <div class="card my-4 offset-7">
                    <h5 class="card-header">Side Widget</h5>
                    <div class="card-body" >
                        You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
                    </div>
                </div>

            </div>
        </div>

    </div>

    <th:block th:replace="~{fragments/footer}"></th:block>
</body>
</html>


<!--<div class="container-fluid" th:action="@{/users/profile/{email}(email=*{email})}"-->
<!--th:method="GET">-->
<!--<h1 class="mt-2">Welcome , <span th:text="${username}"></span>!</h1>-->
<!--<ul>-->
<!--<li th:each="entry: ${conversation.entrySet()}" th:object="${entry.getKey()}">-->
<!--<span th:text="${entry.getKey().senderMessage}"></span>-->
<!--<span th:each="reply : *{replies}"><span th:text="${reply.getReplyMessage()}"></span>-->
<!--</span>-->
<!--</ul>-->
<!--</div>-->