<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:replace="~{fragments/head}"></th:block>
<body>
<div class="container-fluid">
    <th:block th:replace="~{fragments/navbar}"></th:block>
    <div class="container mt-md-5">
        <h1><!--/*@thymesVar id="serviceType" type="org.softuni.accounting.areas.products.controllers.ServiceController"*/-->
        <span th:text="${serviceType}"></span> Services</h1>
        <ul class="mt-5">
            <div th:each="s,iterStat : ${services}" th:object="${s}">
                <li>
                    <p th:text="*{description}"></p>
                </li>
            </div>
        </ul>
    </div>
    <div class="container-fluid">
        <th:block th:replace="~{fragments/footer}"></th:block>
    </div>
</body>
</html>