<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:replace="~{fragments/head}"></th:block>
<body>
<div class="container-fluid">
    <th:block th:replace="~{fragments/navbar}"></th:block>
    <div class="container mt-5">

        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4">Services</h1>
            <p class="lead">T&amp;M Consulting &copy; provides a wide range of integrated consulting services at a
                world-class level, which can guarantee the efficiency, stability and growth of every business both in
                Bulgaria and abroad.</p>
        </div>

        <div class="container">
            <div class="card-deck mb-3 text-center">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Accounting services</h4>
                    </div>
                    <div class="card-body">
                        <!--<h1 class="card-title pricing-card-title"></h1>-->
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Regardless of its size, each company needs stability and safety in its accounting and
                                finance to calmly perform its inherent activity. We encompass all accounting processes
                                and provide our customers with an efficient and safe service based upon transparency in
                                the accounting processes and stability in the tax relationships with the state.
                            </li>
                        </ul>
                        <a th:href="@{/services/accounting-services}" class="btn btn-lg btn-block btn-primary"
                           role="button" aria-pressed="true">continue &raquo;</a>
                    </div>
                </div>
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">VAT Accounting Scheme</h4>
                    </div>
                    <div class="card-body">
                        <!--<h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ mo</small></h1>-->
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>The VAT tax is the main source of revenue for the national budget in Bulgaria and the
                                rest of the EU members. We can answer the questions you might have regarding its law as
                                well as the way your company should act in different situations both in Bulgaria or when
                                doing business inside or outside the EU.
                            </li>
                        </ul>
                        <a th:href="@{/services/vat-services}" class="btn btn-lg btn-block btn-primary" role="button"
                           aria-pressed="true">continue &raquo;</a>
                    </div>
                </div>
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Payroll services</h4>
                    </div>
                    <div class="card-body">
                        <!--<h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ mo</small></h1>-->
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>You can stay calm and safe facing inspections and audits by the National Revenue Agency
                                and the National Social Security Institute, for issues concerning the Occupational
                                Medical Service or an inspection by the Labour Inspectorate.
                            </li>
                        </ul>
                        <a th:href="@{/services/payroll-services}" class="btn btn-lg btn-block btn-primary"
                           role="button" aria-pressed="true">continue &raquo;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="~{fragments/footer}"></th:block>
</body>
</html>