<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:replace="~{fragments/head}"></th:block>
<body>
<div class="container-fluid">
    <th:block th:replace="~{fragments/navbar}"></th:block>
    <div class="container mt-5">
        <h1 class="mt-5">All Services</h1>
        <table class="table mt-5">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Description</th>
                <th scope="col">Type</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="s,iter : ${services}" th:object="${s}">
                <tr>
                    <th scope="row" th:text="${iter.index + 1}"></th>
                    <td th:text="*{description}"></td>
                    <td th:text="*{serviceType}"></td>
                    <td><a sec:authorize="hasAnyRole('ROLE_ADMIN')" class="btn btn-danger" th:href="@{/admins/services/delete/{id}(id=${s.id})}">Delete</a></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</body>
</html>