<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="~{fragments/head}"></th:block>
</head>
<body>
<div class="container-fluid">
    <th:block th:replace="~{fragments/navbar}"></th:block>
    <!--/*@thymesVar id="virusDto" type="org.softuni.accounting.areas.requests.domain.models.view.RequestViewModel"*/-->
    <div class="container contact-form" th:object="${request}">
        <h4 class="text-center mb-md-5" th:text="|Reply to ${request.senderEmail}|"></h4>
        <div class="row">
            <div class="col-md-8 offset-2">
                <div class="row" readonly="readonly">
                    <div class="col-md-6 offset-md-3 text-primary" data-for="senderSubject">
                        <label for="senderSubject">Subject</label>
                        <input type="text" class="form-control input text-white" name="senderSubject"
                               data-form-field="SenderSubject" placeholder="Subject"
                               id="senderSubject" readonly="readonly" th:field="*{senderSubject}"
                               th:classappend="${#fields.hasErrors('senderSubject')}? 'is-invalid'"/>
                    </div>
                    <div class="col-md-12 text-primary" data-for="senderMessage">
                        <label for="senderMessage">Message</label>
                        <textarea class="form-control input text-white" name="senderMessage" rows="5"
                                  data-form-field="SenderMessage" placeholder="Message"
                                  id="senderMessage" readonly="readonly" th:field="*{senderMessage}"
                                  th:classappend="${#fields.hasErrors('senderMessage')}? 'is-invalid'"></textarea>
                    </div>
                </div>
                <!--</form>-->
                <form class="form-group" th:action="@{/admins/reply-to-requests/response/{id}(id=${id})}"
                      th:method="POST" th:object="${reply}">
                    <label class="form-control-label display-7 text-primary" for="replyMessage">Reply</label>
                    <textarea type="text" class="form-control" name="replyMessage" rows="6"
                              data-form-field="replyMessage" id="replyMessage" th:field="*{replyMessage}"
                              th:classappend="${#fields.hasErrors('replyMessage')}? 'is-invalid'"></textarea>
                    <small class="invalid-feedback" style="display: block" id="replyMessageError"
                           th:each="error : ${#fields.errors('replyMessage')}" th:text="${error}"></small>

                    <label class="form-control-label display-7 my-md-1 text-primary" for="price">Approximate
                        price</label>
                    <input type="text" class="form-control input col-md-4" id="price" name="price" th:field="*{price}"
                           th:classappend="${#fields.hasErrors('price')}? 'is-invalid'">
                    <small class="invalid-feedback mb-md-3" style="display: block" id="priceError"
                           th:each="error : ${#fields.errors('price')}" th:text="${error}"></small>
                    <button type="submit" class="btn btn-outline-success text-primary">Reply</button>
                    <a class="btn btn-outline-secondary" th:href="@{/admins/reply-to-requests}">Back</a>
                </form>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="~{fragments/footer}"></th:block>
</body>
</html>