<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:replace="~{fragments/head}"></div>
<body>
<div th:replace="~{fragments/navbar}"></div>
<div class="container">
    <h1 class="mt-2 text-md-center text-secondary">Edit Your Opinion</h1>

    <form class="mt-2 mb-5 col-md-8 offset-md-2" th:action="@{/users/profile/edit-opinion/{id}(id=${profileId})}"
          th:method="POST" th:object="${profileEditOpinion}">
        <div class="form-group">
            <label for="opinion" class="text-primary">Your Opinion</label>
            <textarea class="form-control" rows="4" id="opinion" name="opinion" th:field="*{opinion}"
                      th:classappend="${#fields.hasErrors('opinion')}? 'is-invalid'"></textarea>
            <small class="text-warning"><span class="text-danger">*</span> By filling this field you agree that we may
                share it with our website visitors along with your profile picture
            </small>
            <small class="invalid-feedback text-warning" style="display: block" id="opinionError"
                   th:each="error : ${#fields.errors('opinion')}" th:text="${error}"></small>
        </div>
        <button type="submit" class="btn btn-primary">Edit</button>
        <a class="btn btn-default" th:href="@{/users/profile/{email}(email=*{email})}">Cancel</a>
    </form>
</div>
<th:block th:replace="~{fragments/footer}"></th:block>
</body>
</html>