<footer th:fragments="footer" class="footer-basic-centered">
    <!--previous was class="footer"-->
    <p class="footer-company-motto mt-3 text-primary">Together we thrive</p>

    <p class="footer-links">
        <a th:href="@{/}">Home</a>
        ·
        <a th:href="@{/blog/}">Blog</a>
        ·
        <a th:href="@{/services/all}">Services</a>
        ·
        <a th:href="@{/about-us}">About Us</a>
        ·
        <a th:href="@{/contact-us}">Contact Us</a>
    </p>

    <p class="footer-company-name mb-4">T&amp;M Consult &copy; 2018</p>

    <div class="container text-center my-2">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-google-plus"></i></a>
        <a href="#"><i class="fa fa-skype"></i></a>
    </div>
</footer>
