<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="~{fragments/head}"></th:block>
</head>
<body>
<div class="container-fluid">
    <th:block th:replace="~{fragments/navbar-blog}"></th:block>
    <div class="container" th:object="${article}">

        <div class="row">
            <script>
                window.onload = function () {
                    var article_id = $("#article_id").val();

                    $.ajax({
                        type: "GET",
                        url: "/blog/articles/count/" + article_id,
                        data: {},
                        success: function (data) {
                            $("#page_view").text(data);
                        }
                    });
                }
            </script>
            <!--Post Content Column-->
            <div class="col-md-12">
                <div class="mx-auto">
                    <!-- Title -->
                    <h1 class="mt-4 offset-1" th:text="*{title}">Post Title</h1>

                    <!-- Author -->
                    <p class="lead author offset-1" th:text="|by *{author.username}|">
                    </p>

                    <hr>

                    <!-- Date/Time -->
                    <p class="offset-1"> Posted on [[*{{date}}]] | <span class="text-primary" id="page_view"
                                                                         th:text="*{pageView}"></span> views</p>
                    <hr>
                    <input type="text" id="article_id" name="article_id" th:value="*{id}" style="display: none;"/>
                    <!-- Preview Image -->
                    <img class="col-md-12" th:if="${article.imagePath} != null" th:src="@{*{imagePath}}"
                         alt="Article Image"/>
                    <hr>
                </div>
                <!-- Post Content -->
                <p th:text="*{content}"></p>

                <hr>

                <div class="text-right mb-md-5">
                    <th:block sec:authorize="isAuthenticated()" th:if="${userIsAuthorOrAdmin}">
                        <a class="btn btn-outline-success btn-xs"
                           th:href="@{/blog/articles/edit/{id}(id = ${article.id})}">Edit</a>
                        <a class="btn btn-outline-danger btn-xs"
                           th:href="@{/blog/articles/delete/{id}(id = ${article.id})}">Delete</a>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="~{fragments/footer}"></th:block>
</body>
</html>