<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="~{fragments/head}"></th:block>
</head>
<body>
<div class="container-fluid">
    <th:block th:replace="~{fragments/navbar}"></th:block>


    <div class="container mt-5">
        <div class="col-md-10 offset-md-1">
            <h1 class="my-4 text-primary">Services
                <small class="text-secondary">T&amp;M Consult</small>
            </h1>
            <!-- Services -->
            <ul class="list-group">
                <div th:if="${services} != null" th:each="service,iter : ${services}" th:object="${service}">
                    <li class="list-group-item">
                        <p><span class="text-primary">&rarr;</span>&emsp;<span th:text="|*{description}|"></span></p>
                    </li>
                </div>
                <th:block th:if="${services} == null" th:text="|No results containing ( ${description} ) were found|"></th:block>
                <a th:href="@{/services/all}"
                   class="btn btn-outline-primary float-md-right mt-md-3 mb-md-5">Haven't found the service you are
                    looking for .. ?</a>
            </ul>
        </div>
    </div>
</div>
<th:block th:replace="~{fragments/footer}"></th:block>
</body>
</html>